.div1{
  background-color: #94989c;
  padding: 20px;
  border: 5px;
 
}
.div1 input[type=text],select{
  width: 100%;
  padding: 15px 20px;
  margin: 7px 0;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #686262;
  border: 2px solid rgb(214, 209, 209);
}
.div1 input[type=submit]{
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  background-color: #455aa0;
  cursor: pointer;
  border-radius: 5px;

}
.div1 input[type=submit]:hover{
  background-color: #523e26;
}
.div1 input[type=text]:focus{
  border: 1px solid rgb(128, 70, 0);
}
.div1 input[name=search]{
  background-image: url(s.png);
  font-size: 15px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 3px 10px;
  padding: 12px 18px 12px 30px;
}